.header {
    position: absolute;
    z-index: 10;
    top: 64px;
    left: 66px;
    .logo {
        width: 258px;
        img {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 650px) {
    .header {
        top: 30px;
        left: 10px;
        .logo {
            width: 200px;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .header {
        top: 52px;
        left: 68px;
        .logo {
            width: 220px;
            img {
                width: 100%;
            }
        }
    }
}