body {
    font-family: $ffamily_primary;
    color: $neutral_lvl_1;
}
h1, h2 {
    font-family: $ffamily_accent;
}
h2 {
    font-size: 49px;
    line-height: 71px;
    text-align: center;
    letter-spacing: -0.018em;
    font-weight: 600;
}
p {
    font-family: $ffamily_primary;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

button {
    font-size: 24px;
    font-family: $ffamily_accent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
@media screen and (max-width: 650px)  {
    h2 {
        font-size: 38px;
        line-height: 52px;
    }
    p {
        font-size: 26px;
        line-height: 38px;        
    }
}
@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: -0.006em;
        text-align: left;
    }
    p {
        font-size: 18px;
        line-height: 27px; 
        text-align: left;       
    }
}