
// ----- Font family-----
$ffamily_primary: 'Open Sans';
$ffamily_accent: 'Poppins';

// ----- Font size-----
$fsize_primary: 12px;

// ----- Colors -----


$primary_lvl_1: hsl(257, 40%, 49%);
$neutral_lvl_1: white;
$accent_prim:  hsl(300, 69%, 71%);
$hover: $accent_prim;

